.shoppingCard--root {
	background-color: #e0e0e0;
}
.shoppingCard--root .shoppingCard {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	margin-left: 15px;
	margin-right: 15px;
}
.shoppingCard--root .shoppingCard__card {
	margin-top: 40px;
	margin-bottom: 40px;
}
.shoppingCard--root .shoppingCard__card ~ .shoppingCard__card {
	margin-left: 29px;
}
.shoppingCard--root .shoppingCard__card__img {
	position: relative;
	display: flex;
	max-width: 350px;
	height: 540px;
}
.shoppingCard--root .shoppingCard__card__img__child img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.shoppingCard--root .shoppingCard__card__img__soldOut {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.shoppingCard--root .shoppingCard__card__img__soldOut h3 {
	margin: 0 auto;
}
.shoppingCard--root .shoppingCard__card h2 {
	margin-top: 8px;
	color: #000;
}
.shoppingCard--root .shoppingCard__card p {
	color: #000;
}
.shoppingCard--root .shoppingCard__card__price {
	margin-top: 16px;
}
.shoppingCard--root .shoppingCard__card__price__promotion {
	margin-left: 8px;
	color: #8d8d8d;
	text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
	.shoppingCard--root .shoppingCard {
		margin-top: 40px;
		flex-direction: column;
	}
	.shoppingCard--root .shoppingCard__card,
	.shoppingCard--root .shoppingCard__card ~ .shoppingCard__card {
		margin-top: 32px;
		margin-left: 0;
		margin-bottom: 0;
	}
	.shoppingCard--root .shoppingCard__card:last-child {
		margin-bottom: 36px;
	}
	.shoppingCard--root .shoppingCard__card__img {
		max-width: none;
		height: auto;
	}
	.shoppingCard--root .shoppingCard__card__img__child {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		position: relative;
	}
	.shoppingCard--root .shoppingCard__card__img__child img {
		position: absolute;
	}
}
