/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.fs-16{
    font-size: 16px;
}

.fs-20{
    font-size: 20px;
}

.fs-24{
    font-size: 24px;
}

.ml-20{
    margin-left: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.wrap{
    width: 1024px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.topTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu a{
    display: block;
    color: #3F5D45;
    font-weight:bold;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.menu a:hover{
    background: #3F5D45;
    color:#fff;
}

.menu img{
    padding-left: 40px;
}

.content{
    display: flex;
}

.cententList li{
    text-align: center;
    border-left: 1px solid #EAF0ED;
    border-bottom: 1px solid #EAF0ED;
    border-right: 1px solid #EAF0ED;
}

.cententListTitle{
    border-top: 1px solid #EAF0ED;
    color: #EAF0ED;
    background: #3F5D45;
    font-weight:bold;
    padding-top: 16px;
    padding-bottom: 16px;
}

.cententList li a{
    display: block;
    color: #3F5D45;
    text-decoration: none;
    width: 172px;
    padding: 16px 64px;
}

.cententList li a:hover{
    background: #EAF0ED;
}

.cententItems{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.centenItemsList{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.item{
    position: relative; 
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.item h2{
    position: absolute; 
    top: 1px; 
    left: 20px; 
    color: #EAF0ED;
    background: #3F5D45;
    padding: 8px 10px;
    writing-mode: vertical-lr;
    font-weight:bold;
}

.heart{
    position: absolute; 
    top: 19px; 
    left: 258px; 
}

.heart:hover{
    background: #3F5D45;
}

.item div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item div p{
    color: #3F5D45;
    border-top: 1px solid #EAF0ED;
    border-left: 1px solid #EAF0ED;
    border-bottom: 1px solid #EAF0ED;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 33px;
    padding-right: 29px;
    display: block;
}

.price{
    font-weight:bold;
    border-right: 1px solid #EAF0ED;
    padding-left: 25px;
    padding-right: 20px;
}

.item a{
    background: #EAF0ED;
    color: #3F5D45;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    padding: 16px 90px;
}

.centenItemsPage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centenItemsPage li a{
    display: block;
    text-align: center;
    color: #3F5D45;
    text-decoration: none;
    width: 60px;
    height: 60px;
    padding: 25%;
    box-sizing: border-box;
}

.centenItemsPage li a:hover{
    color: #EAF0ED;
    background: #3F5D45;
}