.skill-root{
    margin-top: 135px;
}
.skill_title{
    margin-left: auto;
    margin-right: auto;
}
.skill_cards{
    width: calc(100% - 69px);
    margin-top: 48px;
    display: flex;
}
.skill_cards_card{
    width: 100%;
    max-width: 284px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgb(207, 207, 207);
    position: relative;
}
.skill_cards_card:first-child{
    margin-left: 69px;
}
.skill_cards_card ~ .skill_cards_card{
    margin-left: 18px;
}
.skill_cards_card:after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 6px 6px;
}
.skill_cards_card:first-child:after{
    border-bottom: 10px solid #F58D23;
}
.skill_cards_card ~ .skill_cards_card:after{
    border-bottom: 10px solid #539E43;
}
.skill_cards_card:last-child:after{
    border-bottom: 10px solid #6762A6;
}
.skill_cards_card-child{
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 35px;
}
.skill_cards_card_img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 90px;
    width: 100%;
}
.skill_cards .skill_cards_card:nth-last-child(1) .skill_cards_card_img{
    padding-top: 8px;
}
.skill_cards_card_title{
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
}
.skill_cards_card_list{
    display: block;
    margin-top: 26px;
    font-size: 12px;
    transform: scale(0.83);
    line-height: 1.4;
}